<div class="container">
  <form class="board-form-group" [formGroup]="sudokuForm">
    <div class="sudoku-board" *ngFor="let row of cellNumbers; let i = index">
      <input class="board-col-1" formControlName="boardControl">
      <input class="board-col-2" formControlName="boardControl">
      <input class="board-col-3" formControlName="boardControl">

      
      <input class="board-col-4" formControlName="boardControl">
      <input class="board-col-5" formControlName="boardControl">
      <input class="board-col-6" formControlName="boardControl">

      <input class="board-col-7" formControlName="boardControl">
      <input class="board-col-8" formControlName="boardControl">
      <input class="board-col-9" formControlName="boardControl">
       
    </div>
    <button class="button" type="submit" (click)="onClick()">Add Sudoku</button>
    <button class="button" type="submit" (click)="onClick()">reset</button>  
    <button class="button" type="submit" (click)="onAddControl()">add control</button>  
  </form>
</div>



