.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgba(176, 93, 206, 0.985);

}
.game-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgb(25, 32, 32);

}

.board-form-group{
    border: 2px solid blue;  
}

.sudoku-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell{ 
    width: 2rem;
    height: 2rem;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: 0.5px solid  rgb(44, 44, 44);
}

.border-thick{
    border-right: 3px solid  rgb(44, 44, 44);
}

.cell:disabled{
    background-color: rgb(224, 224, 224);
}
.border-thick-bottom{
    border-bottom: 3px solid  rgb(44, 44, 44);

}
.bottom-border-thick{
    border-bottom: 3px solid  rgb(44, 44, 44);

}

.button{
    width: 6rem;
    height: 3rem;
    margin-top: 30px;
    margin-left: 50px;
}
.error-box{
    margin-top: 30px;
    margin-left: 50px;
    color: rgb(221, 32, 32);

}